body {
  height: 100vh;
  background-image: url(/src/images/photo-1485470733090-0aae1788d5af.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav_item {
  list-style: none;
}

.nav_item a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.nav_bar a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

/* header */
.main_header {
  position: relative;
  padding: 0 20px;
}

.nav_bar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_bar .links {
  display: flex;
  gap: 2rem;
}

.nav_bar .bar_menu {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action-btn {
  display: block;
  background-color: orange;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;

  transition: transform var(--animation-duration) var(--timing-function);
}

.action-btn:hover {
  transform: scale(1.03);
  color: #fff;
}

.action-btn:active {
  transform: scale(0.95);
}
